html{
    height: 100%;
}
body{
    height: 100%;
    background-color: gray;  
    background-image: url("http://pic40.nipic.com/20140424/12259251_002036722178_2.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}